---
description: Email Verification - Marketo Docs - Product Documentation
title: Email Verification
hide: yes
hidefromtoc: yes
---
# Email Verification {#email-verification}