---
description: Email Verification - Marketo Docs - Product Documentation
title: Email Verification
hide: yes
hidefromtoc: yes
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
---
# Email Verification {#email-verification}

I think you said we will just make a new page that covers email verification for users

User Invite
When an admin invites a user, no change to the UI or the experience for the user
When the user clicks the invite link, their email is automatically verified
Users with SSO are automatically verified

User Account
Screen shows email address as verified
When email address is updated, the UI reflects that the email for the account is unverified and email is sent (see attached email)

Admin – Users and Roles page
New column showing the Verification status of a user
New button to trigger the email verification for the user again

MyMarketo
When user with unverified email logs in, they should see a banner on the My Marketo page (ONLY).
