---
description: Email Verification - Marketo Docs - Product Documentation
title: Email Verification
hide: yes
hidefromtoc: yes
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
---
# Email Verification {#email-verification}
