---
description: Email Verification - Marketo Docs - Product Documentation
title: Email Verification
hide: yes
hidefromtoc: yes
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
---
# Email Verification {#email-verification}

Adobe Marketo Engage subscriptions require all non-API only users to verify their email address. Single Sign-on (SSO) users will automatically have their email verified when their subscription is enabled with Email Verification.

**User Invite**

When an Admin invites a user, that user is automatically verified once they click the invite link. Users with SSO are automatically verified.

**Changing an Email Address**

When a user's email address is changed, it becomes unverified. An email will be sent to them allowing them to re-verify. Users can manually resend that email by clicking **[!UICONTROL Resend Verification]**.

   ![](assets/email-verification-1.png)

   ![](assets/email-verification-2.png)

**Users and Roles**

In **[!UICONTROL Admin]** > **[!UICONTROL Users & Roles]**, the **[!UICONTROL Email]** Status column shows the verification status of every user.

   ![](assets/email-verification-3.png)

To resend a verification email to an unverified user, simply select their record and click the **[!UICONTROL Verify Email]** button.
